.w3{
    width: 150px;
}
.color{
 background-color: rgb(241, 191, 125);
 
}
.calu a{
text-decoration: none;
background-color: chocolate;
padding: 5px 10px;
border-radius: 10px;
color: rgb(82, 82, 110);
font-weight: 700;
}